.playground {
  display: flex;
  flex-direction: column;
  padding: 0 2.5%;
  width: 70%;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-self: center;
}

.MuiButtonGroup-root {
  margin: 2.5% auto 2.5%;
}
